*  {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
    
}
h1 {
    text-align: center;
}
p {
    position: relative;
    left: 475px;
  
}
/* Button */
#startQuiz {
    background-color: #663399;
    color: white;
    border: none;
    padding: 9px; 
    position: relative;
    top: 10px;
    left: 675px;
}

